@import "tailwindcss";
@plugin "daisyui";

@theme {
  --animate-new-bounce: bounce1 1s infinite; /* bounce 1s infinite */ /* bounce 1s infinite */

  @keyframes bounce1 {
    0%,
    100% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
